/* You can add global styles to this file, and also import other style files */
/* body
{
    font-family: 'Dancing Script', cursive;

background-image:url(./assets/img/b.jpg);
background-repeat: no-repeat;
 height: 100%; 
 background-size: cover;
} */